* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  color: white;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
}

#dropdown-container {
  width: 100vw;
  height: 5vh;
}

/* Bottom Navigation Bar */
.bottom-nav {
    width: 100vw;
    height: auto;
    background-color: #333;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center; /* Center items vertically */
}

.bottom-nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    margin: 4px 0;
    align-items: center; /* Align items vertically */
}

.bottom-nav li {
    flex: 1;
    text-align: center;
}

.bottom-nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
}

.bottom-nav a i {
    font-size: 20px; /* Icon size */
    margin-bottom: 4px;
}

.bottom-nav a:hover {
    background-color: #555;
}

#webp-container {
  width: 100vw;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Prevents scrolling outside the container */
  position: relative;
}

select {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 1.2rem;
  text-align: center;
}

.webp {
  flex: 1;  /* Makes each image take up full space */
  width: 100%;
  height: 100%;
  object-fit: contain;  /* Ensures the full image is visible */
  transition: transform 0.3s ease-out;
}

.webp.active {
  display: block;
  transform: none;
}

.webp.preload {
  display: none; /* Hide preloaded images until activated */
}

/* Fly In from Bottom */
.webp.fly-in-up {
  animation: flyInUp 0.5s linear forwards;
}

/* Fly Out to Bottom */
.webp.fly-out-down {
  animation: flyOutDown 0.5s linear forwards;
}

/* Fly In from Top */
.webp.fly-in-down {
  animation: flyInDown 0.5s linear forwards;
}

/* Fly Out to Top */
.webp.fly-out-up {
  animation: flyOutUp 0.5s linear forwards;
}

/* Keyframes for Fly In from Bottom */
@keyframes flyInUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

/* Keyframes for Fly Out to Bottom */
@keyframes flyOutDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}

/* Keyframes for Fly In from Top */
@keyframes flyInDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

/* Keyframes for Fly Out to Top */
@keyframes flyOutUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}
