* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  overflow: hidden; /* Prevents default scrolling */
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

#webp-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.webp {
  max-width: 100vw; /* Ensures full width */
  max-height: 100vh; /* Ensures full height */
  object-fit: contain; /* Keeps full image visible */
  position: absolute;
  transition: transform 0.5s ease-in-out;
}
