<%- include("partials/header") %>
<div class="container" id="grid-container">
        <!-- Boxes will be dynamically populated here -->
    </div>

    <script src="/js/categories.js"></script>
<%- include("partials/navbar") %>
<%- include("partials/footer") %>
