<iframe src="https://olafwempe.com/mp3/silence/silence.mp3" type="audio/mp3" allow="autoplay" id="audio" style="display:none"></iframe>
<video autoplay muted loop playsinline preload="metadata">
    <source src="EDMVideo(Jay)_NEW.webm">
</video>
<div id="dropdown-container">
    <select id="dropdown" name="options" onchange="redirectToOption()">
        <option value="">Select an option</option>
        <option value="">Homepage</option>
    </select>
</div>
