<div id="dropdown-container">
    <select id="dropdown" name="options" onchange="redirectToOption()">
        <option value="">Select an option</option>
        <option value="">Homepage</option>
    </select>
  </div>
