<nav class="bottom-nav">
    <ul>
        <li class="nav-btn" data-page="search"><a href="/search"><i class="fas fa-search"></i><span>Search</span></a></li>
        <li class="nav-btn" data-page="categories"><a href="/categories"><i class="fas fa-th-large"></i><span>Categories</span></a></li>
        <li class="nav-btn" data-page="home"><a href="/"><i class="fas fa-home"></i><span>Home</span></a></li>
        <li class="nav-btn" data-page="saved"><a href="/saved"><i class="fas fa-bpokmark"></i><span>Saved</span></a></li>
        <li class="nav-btn" data-page="profile"><a href="/profile"><i class="fas fa-user"></i><span>Profile</span></a></li>
    </ul>
</nav>
